@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

body{
    background-color: black;
}

main{
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 1280px;
    height: 720px;
    background-color: #121214;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logo{

    padding-top: 50px;
}

.pergunta{
    padding-top: 70px;
    font-family: 'IBM Plex Sans', sans-serif;
    color: white;
    font-size: 32px;
    padding-bottom: 20px;
}

.perfis{
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 700px;
    justify-content: space-between;
    padding: 0;
}

.perfil{
    width: 160px;
    height: 160px;
    overflow: hidden;
    border-radius: 8px;
    border: solid 1px transparent;
}

.perfil:hover{
    border: solid 1px white;
}

.foto{
    border-radius: 8px;
    transition: transform .5s ease;
}
.foto:hover{
    transform: scale(1.2);

}

.bloco:hover div{
    color: white;
}

#perfil{
    width: 160px;
    height: 160px;
    overflow: hidden;
    border-radius: 8px;
    border: solid 1px transparent;
    background-image: url('./images/Frame\ 5.png');
    transition: all .5s;
}

#perfil:hover{
    background-image: url('./images/adicionarbranco.svg');
}


.nome{
    text-align: center;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #9C9C9C;
    font-size: 14px;
    padding-top: 10px;
    font-weight: 600;

}

.caseBtn{
    padding-top: 60px;
}

.gerenciar{
    border: 1.5px solid #FFFFFF;
    background-color: #121214;
    box-sizing: border-box;
    color: white;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px;
    border-radius: 8px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
    font-weight: 500;
}

.gerenciar:hover{
    transition: 0.6s all;
    background-color: black;
    color: black;
    background-color: white;
}
